@import '~node_modules/modern-normalize/modern-normalize.css';
h1,
h2,
h3,
h4,
h5,
p
{
    margin-top: 0;
    margin-bottom: 0;
}
ol,ul{
    margin-top: 0;
margin-bottom: 0;
padding-left: 0;
}
a{text-decoration: none;
cursor: url(/src/images/pointer.png),auto;}
ul{list-style: none;}
img{display: block;
    max-width:100%;
    height: auto;}
button {  cursor: url(/src/images/pointer.png),auto;
    font-family:inherit;}

body {
    font-family: var(--primary-font-family);
    color:var(--primary-text-color);
    font-size: 14px;
    letter-spacing: 0.04em;
    background-color: var(--primary-bcg-color);
}