@import "./utils/variables";
@import "./utils/visually-hidden";
@import "./utils/is-hidden";

@import './base/common';
@import "./base/container";

@import "./components/backdrop";
@import "./components/modal-buy";
@import "./components/modal-ingredient";
@import "./components/read-more-modal";
@import "./components/modal-location";
@import "./components/modal-franchise";

@import "./layout/header";
@import "./layout/hero";
@import "./layout/products";
@import "./layout/about-advantages";
@import "./layout/gallery-review";
@import "./layout/contacts";
@import "./layout/footer";
