@import '~node_modules/modern-normalize/modern-normalize.css';
:root {
  --primary-font-family: "Montserrat", sans-serif;
  --secondary-font-family: "Seymour One", sans-serif;
  --accent-color:#F8D24E;
  --primary-bcg-color: #84A178;
  --second-accent-color: #84A178;
  --secondary-bcg-color:#FFFFFF;
  --primary-text-color:#FCFCFC;
  --secondary-text-color:#131313;
  --address-text-color:#D6936D;
  --time-working-text-color:#907E82;
  --copyright-color:#7A7A7A;
  --icon-mobile-close-color:#FCFCFC;
  --icon-modal-close:#131313;
  --input-bcg-color:#FCF8EB;
  --img-ice-cream-bcg-color:#AEC6A5;
  --img-ice-cream-ln-grad-color:rgba(156, 190, 143, 0.7), rgba(156, 190, 143, 0.7), #D9D9D9;
  --img-ice-cream-shadow-color:rgba(10, 136, 23, 0.25);
  --img-ice-coffee-bcg-color:#EFD478;
  --img-ice-coffee-ln-grad-color:rgba(248, 210, 78, 0.7), rgba(248, 210, 78, 0.7), #D9D9D9;
  --img-ice-coffee-shadow-color:rgba(153, 114, 23, 0.25);
  --img-milkshake-bcg-color:#D6936D;
  --img-milkshake-ln-grad-color:rgba(213, 117, 63, 0.7), rgba(213, 117, 63, 0.7), #D9D9D9;
  --img-milkshake-shadow-color:rgba(0, 0, 0, 0.25);
  --about-ln-gard-color:rgba(248, 210, 78, 0.7), rgba(248, 210, 78, 0.7), #D9D9D9;
  --about-shadow-color:gba(153, 114, 23, 0.25);
  --review-img-bcg-color:#6E6E6E;
  --social-hv-fc-color:#FFFFFF;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;
  border: 0;
  clip: rect(0 0 0 0);
}

h1,
h2,
h3,
h4,
h5,
p {
  margin-top: 0;
  margin-bottom: 0;
}

ol, ul {
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
}

a {
  text-decoration: none;
}

ul {
  list-style: none;
}

img {
  display: block;
}

button {
  cursor: pointer;
  font-family: inherit;
}

body {
  font-family: var(--primary-font-family);
  color: var(--primary-text-color);
  font-size: 14px;
  letter-spacing: 0.04em;
  background-color: var(--primary-bcg-color);
}

.container {
  padding-left: 20px;
  padding-right: 20px;
  margin-left: auto;
  margin-right: auto;
}

@media screen and (min-width: 480px) {
  .container {
    width: 480px;
  }
}
@media screen and (min-width: 768px) {
  .container {
    width: 768px;
    padding-left: 32px;
    padding-right: 32px;
  }
}
@media screen and (min-width: 1200px) {
  .container {
    width: 1200px;
    padding-left: 16px;
    padding-right: 16px;
  }
}
.products {
  width: 100%;
  height: 100%;
  margin-left: auto;
  margin-right: auto;
  padding-top: 60px;
  padding-bottom: 60px;
  background-image: url("../images/desktop/product/bcg.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-color: #F5F5F5;
}
@media screen and (min-width: 768px) {
  .products {
    padding-top: 61px;
    padding-bottom: 82px;
  }
}
@media screen and (min-width: 1200px) {
  .products {
    padding-top: 61px;
    padding-bottom: 66px;
  }
}

.products__par-title {
  font-family: var(--primary-font-family);
  font-weight: 800;
  font-size: 18px;
  line-height: 22px;
  text-align: center;
  text-transform: uppercase;
  color: var(--secondary-text-color);
  margin-bottom: 12px;
}
@media screen and (min-width: 768px) {
  .products__par-title {
    font-size: 22px;
  }
}
@media screen and (min-width: 1200px) {
  .products__par-title {
    font-size: 30px;
  }
}

.products__title {
  font-family: var(--secondary-font-family);
  font-weight: 400;
  font-size: 30px;
  line-height: 38px;
  text-align: center;
  text-transform: uppercase;
  color: var(--secondary-text-color);
  margin-bottom: 150px;
}
@media screen and (min-width: 768px) {
  .products__title {
    margin-bottom: 200px;
    font-size: 34px;
    line-height: 43px;
  }
}
@media screen and (min-width: 1200px) {
  .products__title {
    font-size: 36px;
    line-height: 45px;
    letter-spacing: 0.06em;
  }
}

.products__list {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 164px;
}
@media screen and (min-width: 768px) {
  .products__list {
    display: flex;
    flex-direction: row;
    gap: 16px;
    justify-content: space-between;
  }
}

.products__card {
  position: relative;
  width: 100%;
  min-height: 420px;
  padding-top: 125px;
  padding-bottom: 50px;
  text-align: center;
}
@media screen and (min-width: 480px) {
  .products__card {
    width: 440px;
  }
}
@media screen and (min-width: 768px) {
  .products__card {
    width: calc((100% - 32px) / 3);
    min-height: 428px;
    padding-top: 107px;
    padding-left: 25px;
    padding-right: 25px;
  }
}
@media screen and (min-width: 1200px) {
  .products__card {
    width: calc((100% - 64px) / 3);
    min-height: 535px;
    padding-top: 165px;
    padding-left: 65px;
    padding-right: 65px;
  }
  .products__card:hover {
    box-shadow: 5px 5px 8px 2px rgba(0, 0, 0, 0.3);
  }
}

.products__card-title {
  color: var(--secondary-text-color);
  font-size: 20px;
  line-height: 24px;
  text-align: center;
  text-transform: uppercase;
  margin-bottom: 40px;
}
@media screen and (min-width: 768px) {
  .products__card-title {
    font-size: 22px;
    line-height: 27px;
  }
}
@media screen and (min-width: 1200px) {
  .products__card-title {
    font-size: 30px;
    line-height: 37px;
    margin-bottom: 65px;
  }
}

.products__parag {
  font-weight: 400;
  font-size: 14px;
  line-height: 176%;
  letter-spacing: 0.04em;
  text-align: center;
  color: var(--secondary-text-color);
}
@media screen and (min-width: 768px) {
  .products__parag {
    width: 172px;
  }
}
@media screen and (min-width: 1200px) {
  .products__parag {
    width: 242px;
    height: 142px;
    font-size: 16px;
  }
}

.products__card-green {
  background: var(--img-ice-cream-bcg-color);
  box-shadow: 0px 8px 30px rgba(0, 0, 0, 0.25);
  border-radius: 24px;
}

.products__card-green::before {
  content: "";
  position: absolute;
  width: 200.33px;
  height: 199.68px;
  top: 0px;
  left: 50%;
  z-index: 1;
  border-radius: 50%;
  background-position: 50%;
  background-image: url("../images/mobile/product/product1.png");
  background-repeat: no-repeat;
  background-size: contain;
  box-shadow: 0 12px rgba(205, 225, 197, 0.53);
  transform: translate(-50%, -50%);
}
@media screen and (min-device-pixel-ratio: 2), screen and (-webkit-min-device-pixel-ratio: 2), screen and (min-resolution: 192dpi), screen and (min-resolution: 2dppx) {
  .products__card-green::before {
    background-image: linear-gradient url("../images/mobile/product/product1@2x.png");
  }
}
@media screen and (min-width: 768px) {
  .products__card-green::before {
    width: 199.34px;
    height: 196.85px;
    background-image: url("../images/tablet/product/product1.png");
  }
}
@media screen and (min-width: 1200px) {
  .products__card-green::before {
    width: 301.76px;
    height: 300.29px;
    background-image: url("../images/desktop/product/product1.png");
  }
}

.products__card-yellow {
  background: var(--img-ice-coffee-bcg-color);
  box-shadow: 0px 8px 30px rgba(0, 0, 0, 0.25);
  border-radius: 24px;
}

.products__card-yellow::before {
  content: "";
  position: absolute;
  width: 200.33px;
  height: 199.68px;
  top: 0px;
  left: 50%;
  z-index: 1;
  border-radius: 50%;
  background-position: center;
  background-image: url("../images/mobile/product/product2.png");
  background-repeat: no-repeat;
  background-size: contain;
  box-shadow: 0 12px rgba(248, 210, 78, 0.7);
  transform: translate(-50%, -50%);
}
@media screen and (min-width: 768px) {
  .products__card-yellow::before {
    width: 199.34px;
    height: 196.85px;
    background-image: url("../images/tablet/product/product2.png");
  }
}
@media screen and (min-width: 1200px) {
  .products__card-yellow::before {
    width: 301.76px;
    height: 300.29px;
    background-image: url("../images/desktop/product/product2.png");
  }
}

.products__card-brown {
  background: var(--img-milkshake-bcg-color);
  box-shadow: 0px 8px 30px rgba(0, 0, 0, 0.25);
  border-radius: 24px;
}

.products__card-brown::before {
  content: "";
  position: absolute;
  width: 200.33px;
  height: 199.68px;
  top: 0px;
  left: 50%;
  z-index: 1;
  border-radius: 50%;
  background-position: center;
  background-image: url("../images/mobile/product/product3.png");
  background-repeat: no-repeat;
  background-size: contain;
  box-shadow: 0 12px rgba(213, 117, 63, 0.7);
  transform: translate(-50%, -50%);
}
@media screen and (min-width: 768px) {
  .products__card-brown::before {
    width: 199.34px;
    height: 196.85px;
    background-image: url("../images/tablet/product/product3.png");
  }
}
@media screen and (min-width: 1200px) {
  .products__card-brown::before {
    width: 301.76px;
    height: 300.29px;
    background-image: url("../images/desktop/product/product3.png");
  }
}

.products__btn {
  background: 0 0;
  border: none;
  border-color: rgba(0, 0, 0, 0);
  justify-content: center;
  display: block;
  position: absolute;
  bottom: 20px;
  left: 50%;
}
@media screen and (min-width: 1200px) {
  .products__btn {
    bottom: 60px;
  }
}/*# sourceMappingURL=index.css.map */