@import '~node_modules/modern-normalize/modern-normalize.css';
:root {
  --primary-font-family: "Montserrat", sans-serif;
  --secondary-font-family: "Seymour One", sans-serif;
  --accent-color:#F8D24E;
  --primary-bcg-color: #84A178;
  --backdrop-bcg-color:rgba(0, 0, 0, 0.2);
  --second-accent-color: #84A178;
  --secondary-bcg-color:#FFFFFF;
  --primary-text-color:#FCFCFC;
  --secondary-text-color:#131313;
  --address-text-color:#D6936D;
  --time-working-text-color:#907E82;
  --copyright-color:#7A7A7A;
  --icon-mobile-close-color:#FCFCFC;
  --icon-modal-close:#131313;
  --input-bcg-color:#FCF8EB;
  --img-ice-cream-bcg-color:#AEC6A5;
  --img-ice-cream-ln-grad-color:rgba(156, 190, 143, 0.7), rgba(156, 190, 143, 0.7), #D9D9D9;
  --img-ice-cream-shadow-color:rgba(10, 136, 23, 0.25);
  --img-ice-coffee-bcg-color:#EFD478;
  --img-ice-coffee-ln-grad-color:rgba(248, 210, 78, 0.7), rgba(248, 210, 78, 0.7), #D9D9D9;
  --img-ice-coffee-shadow-color:rgba(153, 114, 23, 0.25);
  --img-milkshake-bcg-color:#D6936D;
  --img-milkshake-ln-grad-color:rgba(213, 117, 63, 0.7), rgba(213, 117, 63, 0.7), #D9D9D9;
  --img-milkshake-shadow-color:rgba(0, 0, 0, 0.25);
  --about-ln-gard-color:rgba(248, 210, 78, 0.7), rgba(248, 210, 78, 0.7), #D9D9D9;
  --about-shadow-color:gba(153, 114, 23, 0.25);
  --review-img-bcg-color:#6E6E6E;
  --social-hv-fc-color:#FFFFFF;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;
  border: 0;
  clip: rect(0 0 0 0);
}

h1,
h2,
h3,
h4,
h5,
p {
  margin-top: 0;
  margin-bottom: 0;
}

ol, ul {
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
}

a {
  text-decoration: none;
  cursor: url(/src/images/pointer.png), auto;
}

ul {
  list-style: none;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

button {
  cursor: url(/src/images/pointer.png), auto;
  font-family: inherit;
}

body {
  font-family: var(--primary-font-family);
  color: var(--primary-text-color);
  font-size: 14px;
  letter-spacing: 0.04em;
  background-color: var(--primary-bcg-color);
}

.container {
  padding-left: 20px;
  padding-right: 20px;
  margin-left: auto;
  margin-right: auto;
}

@media screen and (min-width: 480px) {
  .container {
    width: 480px;
  }
}
@media screen and (min-width: 768px) {
  .container {
    width: 768px;
    padding-left: 32px;
    padding-right: 32px;
  }
}
@media screen and (min-width: 1200px) {
  .container {
    width: 1200px;
    padding-left: 16px;
    padding-right: 16px;
  }
}
.is-hidden {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}

.backdrop {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background-color: var(--backdrop-bcg-color);
  opacity: 1;
  z-index: 10;
  transition: opacity 250ms linear, visibility 250ms linear;
}

.modal-buy {
  position: absolute;
  top: 100%;
  left: 50%;
  padding: 28px;
  transform: translate(-50%, -50%) scale(1);
  min-width: 280px;
  background-color: var(--secondary-bcg-color);
  border-radius: 10px;
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  border: 2px solid var(--accent-color);
  padding: 8px 8px 28px;
  z-index: 100;
}

.modal-buy-close-btn {
  position: absolute;
  top: 8px;
  right: 8px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 16px;
  height: 16px;
  padding: 0px;
  background-color: transparent;
  border: none;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1), fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-buy-close-icon {
  fill: var(--icon-modal-close);
  width: 16px;
  height: 16px;
}
.modal-buy-close-btn:hover .modal-buy-close-icon, .modal-buy-close-btn:focus .modal-buy-close-icon {
  fill: #ababab;
}

.modal-buy-form {
  display: flex;
  flex-direction: column;
}

.buy-now-title {
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--secondary-text-color);
  left: 30px;
  top: 28px;
  font-family: var(--secondary-font-family);
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  margin-top: 28px;
  margin-left: 30px;
  margin-right: 29px;
  margin-bottom: 57px;
}

.buy-now-list {
  display: block;
  margin-bottom: 20px;
}

.buy-now-list-item {
  height: 164px;
  width: 132px;
  border-radius: 24px;
  flex-direction: column;
  margin-left: auto;
  margin-right: auto;
  padding: 103px 0 20px;
  display: flex;
  justify-content: center;
  position: relative;
}

.buy-now-list-item:before {
  content: "";
  width: 132px;
  height: 139px;
  border-radius: 50%;
  position: absolute;
  top: -28%;
  left: -1%;
}

.buy-now-list-item:first-child {
  border: 2px solid var(--primary-bcg-color);
}
.buy-now-list-item:first-child:hover, .buy-now-list-item:first-child:focus {
  background-color: var(--primary-bcg-color);
  cursor: pointer;
}

.buy-now-list-item:first-child:before {
  background-image: url(../images/modal/buy/buy1.png), linear-gradient(0deg, rgba(156, 190, 143, 0.7), rgba(156, 190, 143, 0.7));
  background-repeat: no-repeat, no-repeat, no-repeat;
  border-radius: 98.6301px;
  box-shadow: 0px 5.26027px 19.726px rgba(10, 136, 23, 0.25);
}

.buy-now-list-item:nth-child(2):before {
  background-image: url(../images/modal/buy/buy2.png), linear-gradient(0deg, rgba(248, 210, 78, 0.7), rgba(248, 210, 78, 0.7));
  background-repeat: no-repeat, no-repeat, no-repeat;
  border-radius: 98.6301px;
  box-shadow: 0px 5.26027px 19.726px rgba(153, 114, 23, 0.25);
}

.buy-now-list-item:nth-child(2) {
  border: 2px solid var(--img-ice-coffee-bcg-color);
}
.buy-now-list-item:nth-child(2):hover, .buy-now-list-item:nth-child(2):focus {
  background-color: var(--img-ice-coffee-bcg-color);
  cursor: pointer;
}

.buy-now-list-item:nth-child(3):before {
  background-image: url(../images/modal/buy/buy3.png), linear-gradient(0deg, rgba(213, 117, 63, 0.7), rgba(213, 117, 63, 0.7));
  background-repeat: no-repeat, no-repeat, no-repeat;
  border-radius: 98.6301px;
  box-shadow: 0px 5.26027px 19.726px rgba(0, 0, 0, 0.25);
}

.buy-now-list-item:nth-child(3) {
  border: 2px solid var(--img-milkshake-bcg-color);
}
.buy-now-list-item:nth-child(3):hover, .buy-now-list-item:nth-child(3):focus {
  background-color: var(--img-milkshake-bcg-color);
  cursor: pointer;
}

.buy-now-list-item:not(:last-child) {
  margin-bottom: 65px;
}

.buy-now-list-title {
  text-align: center;
  text-transform: uppercase;
  color: var(--secondary-text-color);
  font-size: 16px;
  font-weight: 700;
  line-height: 1.25;
}

.modal-buy-form-field:not(:last-of-type) {
  margin-bottom: 10px;
}

.modal-buy-form-input-wrapper {
  display: block;
  position: relative;
}

.modal-buy-form-input {
  display: block;
  width: 100%;
  height: 32px;
  padding-left: 12px;
  padding-right: 12px;
  font-weight: 400;
  font-size: 12px;
  line-height: 140%;
  color: var(--secondary-text-color);
  background-color: var(--input-bcg-color);
  border: 1px solid var(--primary-bcg-color);
  border-radius: 10px;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal-buy-form-input:focus {
  outline: none;
  border-color: #0A8817;
}

.modal-buy-form-message {
  display: block;
  width: 100%;
  height: 65px;
  padding-top: 8px;
  padding-bottom: 7px;
  padding-right: 12px;
  padding-left: 12px;
  color: var(--secondary-text-color);
  background-color: var(--input-bcg-color);
  border: 1px solid var(--primary-bcg-color);
  border-radius: 10px;
  resize: none;
  font-size: 12px;
  line-height: 1.16;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  margin-bottom: 25px;
}
.modal-buy-form-message:focus {
  outline: none;
  border-color: #0A8817;
}

.modal-buy-form-button {
  align-self: center;
  min-width: 114px;
  min-height: 42px;
  padding-top: 10px;
  padding-right: 52px;
  padding-bottom: 10px;
  padding-left: 52px;
  background-color: var(--accent-color);
  font-weight: 600;
  font-size: 12px;
  line-height: 15px;
  color: var(--secondary-text-color);
  border-radius: 10px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border: 1px solid var(--accent-color);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal-buy-form-button:hover, .modal-buy-form-button:focus {
  background-color: #0A8817;
}
.modal-buy-form-button:focus {
  color: var(--primary-text-color);
}

.read-modal {
  position: absolute;
  padding: 26px;
  transform: translate(-50%, -50%);
  top: 50%;
  left: 50%;
  max-width: 280px;
  background-color: var(--primary-text-color);
  border: 2px solid #f8d24e;
  border-radius: 10px;
}
@media screen and (min-width: 768px) {
  .read-modal {
    padding: 30px 58px;
    max-width: 568px;
  }
}

.read-modal__btn {
  position: absolute;
  top: 8px;
  right: 8px;
  padding: 0;
  border: none;
  background-color: var(--primary-text-color);
}
@media screen and (min-width: 768px) {
  .read-modal__btn {
    top: 20px;
    right: 20px;
  }
}

.read-modal__icon-close {
  width: 16px;
  height: 16px;
}
@media screen and (min-width: 768px) {
  .read-modal__icon-close {
    width: 20px;
    height: 20px;
  }
}

.read-modal__title {
  display: block;
  text-align: center;
  margin-bottom: 20px;
  font-family: var(--secondary-font-family);
  color: var(--secondary-text-color);
  font-size: 16px;
  line-height: 1.5;
}
@media screen and (min-width: 768px) {
  .read-modal__title {
    margin-bottom: 32px;
    font-size: 20px;
  }
}

.read-modal__video {
  margin-bottom: 20px;
  border-radius: 10px;
  width: 224px;
  height: 199px;
}
@media screen and (min-width: 768px) {
  .read-modal__video {
    margin-bottom: 32px;
    width: 448px;
    height: 205px;
  }
}

.read-modal__text {
  color: var(--secondary-text-color);
  line-height: 1.4;
}
@media screen and (min-width: 768px) {
  .read-modal__text {
    font-size: 16px;
  }
}

.no-scroll {
  overflow: hidden;
}

.location {
  position: absolute;
  padding: 26px;
  top: 50%;
  left: 50%;
  max-width: 224px;
  transform: translate(-50%, -50%);
  background-color: var(--primary-text-color);
  border: 2px solid #f8d24e;
  border-radius: 10px;
}
@media screen and (min-width: 768px) {
  .location {
    padding: 32px 60px;
    max-width: 568px;
  }
}

.modal-location-close-btn {
  width: 16px;
  height: 16px;
  position: absolute;
  top: 8px;
  right: 8px;
  padding: 0;
  border: none;
  background-color: var(--primary-text-color);
}
@media screen and (min-width: 768px) {
  .modal-location-close-btn {
    top: 20px;
    right: 20px;
  }
}

.modal-location__text {
  display: block;
  text-align: center;
  margin-bottom: 20px;
  font-family: var(--secondary-font-family);
  color: var(--secondary-text-color);
  font-size: 16px;
  line-height: 1.5;
}
@media screen and (min-width: 768px) {
  .modal-location__text {
    margin-bottom: 32px;
    font-size: 20px;
    line-height: 1, 5;
  }
}
@media screen and (min-width: 1200px) {
  .modal-location__text {
    font-size: 20px;
  }
}

.modal_location-map {
  display: block;
  width: 224px;
  height: 199px;
  margin-bottom: 24px;
  border-radius: 10px;
}
@media screen and (min-width: 1200px) {
  .modal_location-map {
    height: 260px;
  }
}

.modal-location__link {
  align-items: center;
  margin-left: auto;
  margin-right: auto;
  padding: 12px 34px;
  font-weight: 600;
  font-size: 14px;
  line-height: 1.2;
  border-radius: 10px;
  background: var(--accent-color);
  color: var(--icon-modal-close);
  transition-property: color, background-color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.modal-location__link:hover {
  background-color: #0A8817;
}
.modal-location__link:focus {
  color: var(--accent-color);
  background-color: #0A8817;
  outline: none;
}

.header {
  position: absolute;
  width: 100%;
  z-index: 10;
}
.header__container {
  display: flex;
  align-items: center;
  padding-top: 12px;
}
@media screen and (min-width: 768px) {
  .header__container {
    padding-top: 20px;
  }
}
@media screen and (min-width: 1200px) {
  .header__container {
    padding-top: 18px;
  }
}

@media screen and (max-width: 767px) {
  .logo {
    width: 40px;
  }
}
@media screen and (min-width: 768px) {
  .logo {
    width: 48px;
  }
}
@media screen and (min-width: 1200px) {
  .logo {
    width: 60px;
  }
}

.nav {
  display: flex;
  align-items: center;
}
.nav__list {
  display: none;
  margin-left: 269px;
}
@media screen and (min-width: 1200px) {
  .nav__list {
    display: flex;
  }
}
.nav__link {
  font-family: var(--primary-font-family);
  font-weight: 700;
  font-size: 16px;
  line-height: 1.25;
  color: var(--primary-text-color);
}
.nav__link:hover, .nav__link:focus {
  color: var(--accent-color);
}
.nav__item:not(:last-child) {
  margin-right: 27px;
}

.header__btn {
  display: none;
  margin-left: auto;
  justify-content: center;
  align-items: center;
  font-weight: 600;
  font-size: 14px;
  line-height: 1.21;
  background-color: var(--accent-color);
  color: var(--secondary-text-color);
  padding: 12px 34px;
  min-width: 152px;
  border: none;
  border-radius: 6px;
}
@media screen and (min-width: 768px) {
  .header__btn {
    display: flex;
    margin-left: 0;
  }
}
@media screen and (min-width: 1200px) {
  .header__btn {
    margin-left: auto;
  }
}

.header__btn:hover,
.header__btn:focus {
  background-color: #0A8817;
}

.menu-btn--open {
  background-color: transparent;
  border: none;
  padding: 10px 15px;
  line-height: 0;
  margin-left: auto;
}
@media screen and (min-width: 1200px) {
  .menu-btn--open {
    display: none;
  }
}

.container-mob {
  padding-left: 22px;
  padding-right: 22px;
  margin-left: auto;
  margin-right: auto;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  overflow-y: scroll;
}
@media screen and (min-width: 480px) {
  .container-mob {
    width: 480px;
  }
}

.menu-btn--close {
  position: absolute;
  top: 16px;
  right: 20px;
  margin: 0;
  margin-left: auto;
  padding: 0;
  border: none;
  background-color: transparent;
}
@media screen and (min-width: 768px) {
  .menu-btn--close {
    top: 32px;
    right: 32px;
  }
}

.menu-btn__icon {
  fill: var(--icon-mobile-close-color);
}

.mob-menu {
  background-color: var(--primary-bcg-color);
  position: fixed;
  z-index: 3;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  padding-top: 100px;
  padding-bottom: 63px;
  top: 0;
  left: 0;
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}
.mob-menu.is-open {
  opacity: 1;
  visibility: visible;
  pointer-events: auto;
}
.mob-menu__list {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  align-items: center;
  margin-bottom: auto;
}
.mob-menu__item:not(:last-child) {
  margin-bottom: 32px;
}
@media screen and (min-width: 768px) {
  .mob-menu__item:not(:last-child) {
    margin-bottom: 40px;
  }
}
.mob-menu__link {
  font-weight: 700;
  font-size: 32px;
  line-height: 1.21;
  color: var(--primary-text-color);
}
@media screen and (min-width: 768px) {
  .mob-menu__link {
    font-weight: 700;
    font-size: 48px;
    line-height: 1.23;
    color: var(--primary-text-color);
  }
}
.mob-menu__link--current {
  color: var(--secondary-text-color);
}
.mob-menu__logo {
  position: absolute;
  top: 12px;
  left: 31px;
  width: 40px;
}
@media screen and (min-width: 768px) {
  .mob-menu__logo {
    top: 20px;
    left: 32px;
    width: 48px;
  }
}

.mob-menu-btn {
  display: flex;
  justify-content: center;
}

@media screen and (min-width: 768px) {
  .main-button--none {
    display: none;
  }
}

.icon-btn-after {
  stroke: currentColor;
}
.icon-btn-after:focus {
  stroke: currentColor;
}

.icon-btn-after--marg {
  margin-left: 7px;
}

.main-button {
  justify-content: center;
  align-items: center;
  font-weight: 600;
  font-size: 14px;
  line-height: 1.21;
  background-color: var(--accent-color);
  color: var(--icon-modal-close);
  padding: 12px 34px;
  min-width: 152px;
  border: none;
  border-radius: 6px;
}

.main-button:hover,
.main-button:focus {
  background-color: #0A8817;
}

.hero {
  position: relative;
  padding-top: 110px;
}
@media screen and (min-width: 768px) {
  .hero {
    padding-top: 104px;
  }
}
@media screen and (min-width: 1200px) {
  .hero {
    padding-top: 118px;
  }
}

.hero__container {
  display: flex;
  flex-direction: column;
  position: relative;
}

.hero__content-box {
  display: flex;
  justify-content: space-between;
}

.hero__title {
  margin-bottom: 32px;
  width: 247px;
  font-family: var(--secondary-font-family);
  font-size: 26px;
  line-height: 1.27;
  text-transform: uppercase;
}
.hero__title span {
  font-size: 34px;
}
@media screen and (min-width: 768px) {
  .hero__title {
    width: 181px;
    margin-bottom: 20px;
    font-size: 18px;
  }
  .hero__title span {
    font-size: 24px;
  }
}
@media screen and (min-width: 1200px) {
  .hero__title {
    width: 367px;
    margin-bottom: 28px;
    font-size: 38px;
  }
  .hero__title span {
    font-size: 38px;
  }
}

.hero__link-box {
  display: flex;
  align-items: center;
}

.hero__link-products {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 8px;
  width: 62px;
  height: 24px;
  color: var(--secondary-text-color);
  font-weight: 600;
  font-size: 8px;
  line-height: 1.25;
  border: 2px solid var(--accent-color);
  border-radius: 8px;
}
.hero__link-products:hover {
  border: 2px solid #0a8817;
}
.hero__link-products:focus {
  border: 2px solid #0a8817;
  color: var(--primary-text-color);
}
@media screen and (min-width: 1200px) {
  .hero__link-products {
    margin-right: 12px;
    width: 134px;
    height: 42px;
    font-size: 14px;
    line-height: 1.29;
  }
}

.hero__link-made {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 83px;
  height: 24px;
  color: var(--accent-color);
  font-weight: 600;
  font-size: 8px;
  line-height: 1.25;
  text-decoration: underline;
}
.hero__link-made:hover {
  color: #0a8817;
}
.hero__link-made:focus {
  color: var(--primary-text-color);
}
@media screen and (min-width: 1200px) {
  .hero__link-made {
    width: 154px;
    height: 40px;
    font-size: 14px;
    line-height: 1.22;
  }
}

@media screen and (max-width: 767px) {
  .hero__info-box {
    display: none;
  }
}

.hero__item {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}
.hero__item + .hero__item {
  margin-top: 20px;
}
@media screen and (min-width: 1200px) {
  .hero__item + .hero__item {
    margin-top: 16px;
  }
}

.hero__num {
  margin-bottom: 4px;
  font-weight: 900;
  font-size: 28px;
  line-height: 1.22;
  color: var(--secondary-text-color);
}
@media screen and (min-width: 1200px) {
  .hero__num {
    font-size: 46px;
  }
}

.hero__type {
  font-size: 8px;
}
@media screen and (min-width: 1200px) {
  .hero__type {
    font-size: 14px;
  }
}

.hero__text-box {
  position: absolute;
  width: 152px;
  bottom: 52px;
  left: 217px;
}
@media screen and (max-width: 767px) {
  .hero__text-box {
    display: none;
  }
}
@media screen and (min-width: 1200px) {
  .hero__text-box {
    width: 220px;
    bottom: 143px;
    left: 256px;
  }
}

.hero__text {
  font-size: 12px;
  line-height: 1.4;
}
@media screen and (min-width: 1200px) {
  .hero__text {
    font-size: 14px;
  }
}

.hero__img-box {
  width: 100%;
}
@media screen and (max-width: 479px) {
  .hero__img-box {
    height: 82.5vw;
    flex-grow: 1;
  }
}
@media screen and (min-width: 480px) {
  .hero__img-box {
    height: 400px;
  }
}
@media screen and (min-width: 768px) {
  .hero__img-box {
    height: 193px;
  }
}
@media screen and (min-width: 1200px) {
  .hero__img-box {
    height: 332px;
  }
}

.hero__img-dish {
  position: absolute;
  z-index: 1;
  bottom: 13px;
  left: 32px;
}
@media screen and (max-width: 767px) {
  .hero__img-dish {
    display: none;
  }
}
@media screen and (min-width: 1200px) {
  .hero__img-dish {
    bottom: 65px;
    left: 16px;
  }
}

.hero__img-bcg {
  max-width: 100%;
  height: auto;
  position: absolute;
  bottom: 0;
  left: 0;
}

.hero__img-ic {
  position: absolute;
  max-width: 100%;
  height: auto;
}
@media screen and (max-width: 479px) {
  .hero__img-ic {
    width: 100vw;
    bottom: -19.2vw;
  }
}
@media screen and (min-width: 480px) and (max-width: 767px) {
  .hero__img-ic {
    width: 480px;
  }
}
@media screen and (min-width: 480px) {
  .hero__img-ic {
    bottom: -92px;
    left: 20px;
  }
}
@media screen and (min-width: 768px) {
  .hero__img-ic {
    bottom: -56px;
    left: 360px;
  }
}
@media screen and (min-width: 1200px) {
  .hero__img-ic {
    bottom: -100px;
    left: 550px;
  }
}

.about {
  padding-top: 60px;
  margin-bottom: 32px;
}

.about__label {
  font-weight: 700;
  font-size: 18px;
  line-height: 1.2222222222;
  text-align: center;
  text-transform: uppercase;
}

.about__title {
  font-family: var(--secondary-font-family);
  font-weight: 400;
  font-size: 30px;
  line-height: 1.2666666667;
  text-align: center;
  text-transform: uppercase;
}

.about-content {
  padding-bottom: 42px;
}

.about-content__img--bgc {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: auto;
  margin-right: auto;
  position: relative;
  margin-bottom: 62px;
}

.about-content__img--bgc::before {
  content: "";
  display: block;
  width: 278px;
  height: 278px;
  border-radius: 50%;
  background: linear-gradient(0deg, rgba(248, 210, 78, 0.7), rgba(248, 210, 78, 0.7)), #d9d9d9;
  box-shadow: 0px 4.48583px 16.8218px rgba(153, 114, 23, 0.25);
}

.about-content__img {
  width: 278px;
  height: 278px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: auto;
  margin-right: auto;
  position: absolute;
  top: 22;
  left: 50%;
  transform: translateX(-50%);
}

.about-content__text--lead,
.about-content__text {
  margin-right: auto;
  margin-left: auto;
  padding-right: 35px;
  padding-left: 35px;
  font-weight: 400;
  font-size: 12px;
  line-height: 1.5833333333;
  text-align: center;
}

.about-content__text--lead {
  line-height: 1.75;
}

.about-content__text--tablet {
  display: none;
  font-weight: 400;
  font-size: 12px;
  line-height: 1.5833333333;
  text-align: center;
}

.about-content__button {
  padding: 0;
  margin-top: 20px;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  width: 164px;
  height: 42px;
  -moz-column-gap: 5px;
       column-gap: 5px;
  font-family: var(--primary-font-family);
  font-weight: 600;
  line-height: 1.2857142857;
  background-color: var(--accent-color);
  border-radius: 10px;
  border: none;
}

.about-content__button--icon {
  fill: #131313;
}

.advantages-list__item:not(:last-child) {
  margin-bottom: 25px;
}

.advantages__title {
  font-weight: 400;
  font-size: 30px;
  line-height: 1.2666666667;
  text-align: center;
  text-transform: uppercase;
}

.advantages-list-item__img--bg {
  position: relative;
}

.advantages-list-item__img--bg::before {
  content: "";
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 16px;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background-color: var(--accent-color);
}

.advantages-list-item__img {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.advantages-list__item--lead-text {
  margin-bottom: 18px;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.1666666667;
  text-align: center;
  text-transform: uppercase;
}

.advantages-list__item--text {
  font-weight: 700;
  font-size: 12px;
  line-height: 1.6666666667;
  text-align: center;
}

@media screen and (min-width: 768px) {
  .about-content {
    display: flex;
    padding-bottom: 53px;
  }
  .about__label {
    font-weight: 800;
    font-size: 22px;
    line-height: 1.2272727273;
  }
  .about__title {
    font-size: 34px;
    line-height: 1.2647058824;
    letter-spacing: 0.06em;
  }
  .about-content__img,
.about-content__img--bgc::before {
    width: 330px;
    height: 330px;
  }
  .about-content__img--bgc {
    margin-bottom: 0;
  }
  .about-content__text--wrapper {
    gap: 8px;
    display: flex;
    flex-direction: column;
    margin-left: 32px;
  }
  .about-content__text--lead,
.about-content__text {
    padding: 0;
    text-align: start;
  }
  .about-content__button {
    margin-top: 48px;
  }
  .about-content__text--tablet {
    text-align: start;
    display: block;
  }
  .about-content__text {
    line-height: 1.75;
  }
  .about-content__button {
    margin-left: 0;
  }
  .advantages-list {
    -moz-column-gap: 80px;
         column-gap: 80px;
    display: flex;
  }
  .advantages-list__item:not(:last-child) {
    margin-bottom: 0;
  }
  .advantages-list__item--lead-text {
    font-family: var(--primary-font-family);
    font-size: 48px;
    line-height: 1.2291666667;
  }
  .advantages-list__item--text {
    font-weight: 400;
    font-size: 14px;
    line-height: 1.7142857143;
  }
}/*# sourceMappingURL=index.css.map */