<section class="section contacts__section">
    <div class="container contacts__container">
        <h2 class="visually-hidden">Contacts</h2>

        <!-- <div class="contacts__card-content"> -->
            <ul class="contacts-list list">

                <li class="contacts-item">
                    <p class="contacts-text contacts-text-place">CAFE</p>
                    <p class="contacts-text contacts-text-city">Chicago</p>

                    <address class="contacts__address-mail">
                        <a href="https://goo.gl/maps/eUFqtb1sPDPpWcdBA" target="_blank" rel="noopener noreferrer nofollow" class="contacts__address-mail-link">10340 Ridgeland Ave, Chicago Ridge, IL 60415, USA</a>
                    </address>

                    <div class="work-schedule__wrap">
                        <ul class="work-schedule-list list">
                            <li class="work-schedule-item">
                                <p>Monday &#8208; Friday</p> 
                                <p class="work-schedule-time">
                                    <time datetime="08:00">06:00 AM -</time> 
                                    <time datetime="22:00">10:00 PM</time>
                                </p>
                            </li>

                            <li class="work-schedule-item">
                                <p>Saturday &#8208; Sunday</p>
                                <p class="work-schedule-time">
                                    <time datetime="08:00">08:00 AM -</time> 
                                    <time datetime="16:00">16:00 PM</time> 
                                </p>  
                            </li>
                        </ul>

                    </div>


                    <address class="contacts__address">
                        <ul class="contacts__address-list list">
                            <li class="contacts__address-item">
                                <a href="tel:+61383766284" class="contacts__address-link">+61(0) 383 766 284</a>
                            </li>

                            <li class="contacts__address-item">
                                <a href="mailto:noreply@envato.com" class="contacts__address-link">noreply@envato.com</a>
                            </li>
                        </ul>
                    </address>
                </li>

                <li class="contacts-item">
                    <p class="contacts-text contacts-text-place">FOOD TRUCK</p>
                    <p class="contacts-text contacts-text-city">Los Angeles</p>

                    <address class="contacts__address">
                        <a href="https://goo.gl/maps/YboNSbsfa7DAhLMu6" target="_blank" rel="noopener noreferrer nofollow" class="contacts__address-link">1003 Manhattan Ave, Manhattan Beach, CA 90263, USA</a>
                    </address>

                    <ul class="work-schedule-list list">
                        <li class="work-schedule-item">
                            <p>Monday &#8208; Friday</p> 
                            <p class="work-schedule-time">
                                <time datetime="08:00">06:00 AM -</time> 
                                <time datetime="22:00">10:00 PM</time>
                            </p>
                        </li>

                        <li class="work-schedule-item">
                            <p>Saturday &#8208; Sunday</p>
                            <p class="work-schedule-time">
                                <time datetime="08:00">08:00 AM -</time> 
                                <time datetime="16:00">16:00 PM</time> 
                            </p>  
                        </li>
                    </ul>

                    <address class="contacts__address">
                        <ul class="contacts__address-list list">
                            <li class="contacts__address-item">
                                <a href="tel:+61383766284" class="contacts__address-link">+61(0) 383 766 284</a>
                            </li>

                            <li class="contacts__address-item">
                                <a href="mailto:noreply@envato.com" class="contacts__address-link">noreply@envato.com</a>
                            </li>
                        </ul>
                    </address>
                </li>

                <li class="contacts-item">
                    <p class="contacts-text contacts-text-place">CAFE</p>
                    <p class="contacts-text contacts-text-city">New York</p>

                    <address class="contacts__address">
                        <a href="https://goo.gl/maps/8hfBah4UxVGXWNFX8" target="_blank" rel="noopener noreferrer nofollow" class="contacts__address-link">726 Sterling Pl, Brooklyn, NY 11222, USA</a>
                    </address>

                    <ul class="work-schedule-list list">
                        <li class="work-schedule-item">
                            <p>Monday &#8208; Friday</p> 
                            <p class="work-schedule-time">
                                <time datetime="08:00">06:00 AM -</time> 
                                <time datetime="22:00">10:00 PM</time>
                            </p>
                        </li>

                        <li class="work-schedule-item">
                            <p>Saturday &#8208; Sunday</p>
                            <p class="work-schedule-time">
                                <time datetime="08:00">08:00 AM -</time> 
                                <time datetime="16:00">16:00 PM</time> 
                            </p>  
                        </li>
                    </ul>

                    <address class="contacts__address">
                        <ul class="contacts__address-list list">
                            <li class="contacts__address-item">
                                <a href="tel:+61383766284" class="contacts__address-link">+61(0) 383 766 284</a>
                            </li>

                            <li class="contacts__address-item">
                                <a href="mailto:noreply@envato.com" class="contacts__address-link">noreply@envato.com</a>
                            </li>
                        </ul>
                    </address>
                </li>

            </ul>
        <!-- </div> -->

            <ul class="contacts__btn-list list">
                <li class="contacts__btn-item"><button type="button">Our Locations</button></li>
                <li class="contacts__btn-item"><button type="button">Franchise</button></li>
            </ul>
        
    </div>
</section>