<section class="gallery">
    <div class="container">
        <h2 class="visually-hidden">Gallery</h2>
        <div class="gallery__images">
            <picture>
                <source 
                srcset="./images/desktop/gallery/gallery1.webp 1x, ./images/desktop/gallery/gallery1@2x.webp 2x" media="(min-width:1200px)" type="image/webp"
                />
                <source
                srcset="./images/tablet/gallery/gallery1.webp 1x, ./images/tablet/gallery/gallery1@2x.webp 2x" media="(min-width:768px)" type="image/webp"
                />
                <source
                srcset="./images/mobile/gallery/gallery1.webp 1x, ./images/mobile/gallery/gallery1@2x.webp 2x" media="(max-width:767px)" type="image/webp"/>
                


                <source
                srcset="./images/desktop/gallery/gallery1.jpg 1x, ./images/desktop/gallery/gallery1@2x.jpg 2x" media="(min-width:1200px)"
                />
                <source
                srcset="./images/tablet/gallery/gallery1.jpg 1x, ./images/tablet/gallery/gallery1@2x.jpg 2x" media="(min-width:768px)"
                />

                <source
                srcset="./images/mobile/gallery/gallery1.jpg 1x, ./images/mobile/gallery/gallery1@2x.jpg 2x" media="(max-width:767px)"
                />

               <img
                src="./images/desktop/gallery/gallery1.jpg"
                alt="ice-cream"
                />
            </picture>
        </div>

    </div>


</section>




 
        

        
</section>
