
<section class="gallery">
    <div class="container gallery-container">
        <h2 class="visually-hidden">Gallery</h2>
        <div class="gallery__images">
            <picture>
                <source 
                srcset="./images/desktop/gallery/gallery1.webp 1x, ./images/desktop/gallery/gallery1@2x.webp 2x" media="(min-width:1200px)" type="image/webp"
                />
                <source
                srcset="./images/tablet/gallery/gallery1.webp 1x, ./images/tablet/gallery/gallery1@2x.webp 2x" media="(min-width:768px)" type="image/webp"
                />
                <source
                srcset="./images/mobile/gallery/gallery1.webp 1x, ./images/mobile/gallery/gallery1@2x.webp 2x" media="(max-width:767px)" type="image/webp"/>
                


                <source
                srcset="./images/desktop/gallery/gallery1.jpg 1x, ./images/desktop/gallery/gallery1@2x.jpg 2x" media="(min-width:1200px)"
                />
                <source
                srcset="./images/tablet/gallery/gallery1.jpg 1x, ./images/tablet/gallery/gallery1@2x.jpg 2x" media="(min-width:768px)"
                />

                <source
                srcset="./images/mobile/gallery/gallery1.jpg 1x, ./images/mobile/gallery/gallery1@2x.jpg 2x" media="(max-width:767px)"
                />

               <img
                src="./images/desktop/gallery/gallery1.jpg"
                alt="ice-cream"
                />
            </picture>
        </div>

    </div>


</section>


<section id="reviews" class="section customer customer_back">
    <h3 class="visually-hidden">Customer Review</h3>
    <div class="container all">
      <input checked type="radio" name="respond" class="desktop" />
  
      <article class="slider">
        <h3 class="visually-hidden">Slider</h3>
        <input checked type="radio" name="slider" id="switch1" />
        <input type="radio" name="slider" id="switch2" />
        <input type="radio" name="slider" id="switch3" />
        <input type="radio" name="slider" id="switch4" />
  
        <div class="slides">
          <div class="overflow">
            <div class="image">
              <article>
                <h3 class="visually-hidden">Review one</h3>
                <picture class="customer__pict">
                 
                  <source
                    srcset="
                      ./images/review/emily.png,
                      ./images/review/emily@2x.png 
                    "
                    
                  />
                 
                 <img
                    src="./images/review/emily.png"
                    alt="photo Emily"
                  />
                </picture>
                <div class="customer__bg">
                  <div class="customer__box">
                    <div class="customer__text">
                      <p class="customer__review-text">
                        I love visiting your cafe. You prepare the most delicious ice cream in Los Angeles! In 
                        addition, you have beautiful serving,cozy atmosphere and polite staff.</p>
                    </div>
                  </div>
                </div>
                <div class="customer-name__box">
                  <p class="customer__name">Emily, Los Angeles</p>
                </div>
              </article>
              <article>
                <h3 class="visually-hidden">Review two</h3>
                <picture class="customer__pict">
                
                  <source
                    srcset="
                      ./images/review/sam.png,
                      ./images/review/sam@2x.png 
                    "
                    
                  />
                 
                
                  <img
                    src="./images/review/sam.png"
                    alt="photo Sam"
                  />
                </picture>
                <div class="customer__bg">
                  <div class="customer__box">
                    <div class="customer__text">
                      <p class="customer__review-text">I love eating popsicles on a hot day. Yours is always delicious. I recommend your cafe 
                    to everyone I know.
                      </p>
                    </div>
                  </div>
                </div>
                <div class="customer-name__box">
                  <p class="customer__name">Sam, Los Angeles</p>
                </div>
              </article>
              <article>
                <h3 class="visually-hidden" lang="ru">Review tree</h3>
                <picture class="customer__pict">
                 
                  <source
                    srcset="
                      ./images/review/diana.png,
                      ./images/review/diana@2x.png
                    "
                  
                  />
                
                  
                  <img
                    src="./images/review/diana.png"
                    alt="photo Diana"
                  />
                </picture>
                <div class="customer__bg">
                  <div class="customer__box">
                    <div class="customer__text">
                      <p class="customer__review-text">
                        Ice cream is my passion! I love your chocolate hazelnut ice cream! And I really like the 
                        excellent service - always served politely and quickly!
                      </p>
                    </div>
                  </div>
                </div>
                <div class="customer-name__box">
                  <p class="customer__name">Diana, Chicago</p>
                </div>
              </article>

              <article>
                <h3 class="visually-hidden">Review four</h3>
                <picture class="customer__pict">
                 
                  <source
                    srcset="
                      ./images/review/bryan.png,
                      ./images/review/bryan@2x.png
                    "
                   />
                <img
                    src="./images/review/bryan.png"
                    alt="photo Bryan"
                  />
                </picture>
                <div class="customer__bg">
                  <div class="customer__box">
                    <div class="customer__text">
                      <p class="customer__review-text">
                        Every day we come to you with friends after classes in college. We love your ice cream 
                        and casual atmosphere!
                      </p>
                    </div>
                  </div>
                </div>
                <div class="customer-name__box">
                  <p class="customer__name">Bryan, New-York</p>
                </div>
              </article>
            </div>
          </div>
        </div>
       
        <div class="active customer_back">
          <label for="switch1"></label>
          <label for="switch2"></label>
          <label for="switch3"></label>
          <label for="switch4"></label>
        </div>
      </article>
    </div>
  </section>

 
        


