<header class="header">
    <div class="container header__container">
        <a href="./index.html" class="logo">
            <img src="./images/logotype.png" alt="logotype">
        </a>
        <nav class="nav">
            <ul class="nav__list">
                <li class="nav__item">
                    <a href="./index.html" class="nav__link">Home</a>
                </li>
                <li class="nav__item">
                    <a href="#" class="nav__link">How it&#39;s made?</a>
                </li>
                <li class="nav__item">
                    <a href="#" class="nav__link">Our products</a>
                </li>
                <li class="nav__item">
                    <a href="#" class="nav__link">Contact</a>
                </li>
            </ul>
        </nav>
        <button type="button" class="menu-btn--open js-open-menu">
            <svg class="menu-icon" width="32" height="32">
                <use href="./images/sprite.svg#icon-burger"></use>
            </svg>
        </button>
        <button type="button" class="btn header__btn">Buy now
            <svg class="btn__icon" width="12" height="12">
                <use href="./images/sprite.svg#icon-button"></use>
            </svg>
        </button>
    </div>
    <div class="mob-menu js-menu-container">
        <div class="container-mob">
            <a href="./index.html" class="mob-menu__logo">
                <img src="./images/logotype.png" alt="Зображення морозива">
            </a>
            <button type="button" class="menu-btn menu-btn--close js-close-menu">
                <svg class="menu-btn__icon" width="32px" height="32px">
                    <use href="./images/sprite.svg#icon-close"></use>
                </svg>
            </button>
            <nav class="mob-menu__navigation">
                <ul class="mob-menu-list mob-menu__list">
                    <li class="mob-menu__item">
                        <a href="./index.html" class="link mob-menu__link mob-menu__link--current">Home</a>
                    </li>
                    <li class="mob-menu__item">
                        <a href="#about" class="link mob-menu__link">How it&#39;s made?</a>
                    </li>
                    <li class="mob-menu__item">
                        <a href="#products" class="link mob-menu__link">Our products</a>
                    </li>
                    <li class="mob-menu__item">
                        <a href="#contacts" class="link mob-menu__link">Contact</a>
                    </li>
                </ul>
            </nav>
            <div class="mob-menu-btn">
                <button type="button" class="button main-button main-button--none">
                    Buy now
                    <svg class="icon-btn-after icon-btn-after--marg" width="12px" height="12px">
                        <use href="./images/sprite.svg#icon-button"></use>
                    </svg>
                </button>
            </div>
        </div>
    </div>
</header>