  <div class="backdrop  " data-modal-location>
    <div class="location">
      <button type="button" class="modal-location-close-btn" value="modal_location" data-modal-close>
    <svg  class="modal-location-close-icon" >
    <use href="./images/sprite.svg#icon-modal-close"></use>
    </svg></button>
    <p class="modal-location__text">Our location</p>
    <iframe class="modal_location-map"
    src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2485.720761952387!2d-0.30393488486026754!3d51.4632831217498!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x48760c377280f273%3A0x45540d669e54d16a!2sRichmond!5e0!3m2!1sen!2suk!4v1665419123633!5m2!1sen!2suk" width="448" height="260" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade">
  </iframe>
    <div class="modal-map">
      <a class="modal-location__link" href="https://goo.gl/maps/E4wx53A7ZCnao7nw7" rel="nofollow noopener noreferrer" target="_blank">Open map</a>
    </div>
    </div>
</div>
