<div class="backdrop is-hidden modal-buy__scroll" data-modal-buy-n>
      <div class="modal-buy">
        <button type="button" class="modal-buy-close-btn" data-modal-close-buy-n>
          <svg class="modal-buy-close-icon" width="9" height="9">
            <use href="./images/sprite.svg#icon-modal-close"></use>
          </svg>
        </button>
        
        <form class="modal-buy-form">
          <p class="buy-now-title">By now</p>
          <div class="buy-now__card-box">
            <div class="buy-now__card-wrapper">
              <input name="product1" class="buy-now__card-input " type="checkbox" id="ice-cream">
          <label class="buy-now__card-label buy-now__label-first" for="#ice-cream">
            <span class="buy-now-card-title">ICE CREAM</span>
          </label>

        </div>
          <div class="buy-now__card-wrapper">
            <input name="product2" class="buy-now__card-input" type="checkbox" id="ice-coffee">
          <label class="buy-now__card-label buy-now__label-second" for="#ice-coffee">
            <span class="buy-now-card-title">ICE COFFE</span>
          </label>

        </div>
          <div class="buy-now__card-wrapper">
            <input name="product3" class="buy-now__card-input" type="checkbox" id="milkshake">
          <label class="buy-now__card-label buy-now__label-third" for="#milkshake">
            <span class="buy-now-card-title">MILKSHAKE</span>
          </label>

        </div>
        </div>
          <!-- <ul class="buy-now-list">
            <li class="buy-now-list-item"><h3 class="buy-now-list-title">ICE CREAM</h3></li>
            <li class="buy-now-list-item"><h3 class="buy-now-list-title">ICE COFFE</h3></li>
            <li class="buy-now-list-item"><h3 class="buy-now-list-title">MILSHAKE</h3></li>
          </ul> -->
          <label class="modal-buy-form-field">            
            <span class="modal-buy-form-input-wrapper">
              <input
                type="text"
                class="modal-buy-form-input"
                required
                pattern="[a-zA-Zа-яА-ЯіІїЇ`']+"
                name="user_name"
                placeholder="Name"
              />              
            </span>
          </label>
          <label class="modal-buy-form-field">
            <span class="modal-buy-form-input-wrapper">
              <input
                type="tel"
                class="modal-buy-form-input"
                required
                pattern="[0-9]{3}-[0-9]{3}-[0-9]{2}-[0-9]{2}"
                title="xxx-xxx-xx-xx"
                name="user_phone"
                placeholder="Phone"
              />              
            </span>
          </label>          
          <label class="modal-buy-form-field modal-buy-form-field-message">
            <textarea
              name="user_message"
              class="modal-buy-form-message"
              placeholder="Comment"
            ></textarea>
          </label>          
          <button type="submit" class="modal-buy-form-button">Submit</button>
        </form>
      </div>
    </div>