
<div class="modal-window modal-is-hidden" id="our_location_modal">
    <button id="close-btn-location" class="modal-window__close-btn" value="our_location_modal">
    <svg class="" width="20" height="20">
    <use href="./"></use>
    </svg></button>
    <p class="modal-window__text">Our location</p>
    <div class="modal-map" id="map">
    </div>
    <a class="modal-btn__link link" href="https://goo.gl/maps/7zt89sniHsoEWSrH8" rel="nofollow noopener noreferrer" target="_blank">Open map</a>
    </div>
    </div>