<div class="backdrop-location is-hiden" data-modal-location>
    <div class="location">
    <button type="button" class="modal-location-close-btn" value="modal_location" data-modal-close></button>
    <svg class="modal-location-close-icon" width="9" height="9">
    <use href="./images/sprite.svg#icon-modal-close"></use>
    </svg></button>
    <p class="modal-location__text">Our location</p>
    <iframe
      class="modal_location-map"
      width="448"
      height="260"
      src="https://goo.gl/maps/E4wx53A7ZCnao7nw7"
      title="google-maps"
      frameborder="0"
      allow=""
    ></iframe>
    <div class="modal-map">
    </div>
    <a class="modal-location__link link" href="https://goo.gl/maps/E4wx53A7ZCnao7nw7" rel="nofollow noopener noreferrer" target="_blank">Open map</a>
    </div>
    </div>
