<div class="backdrop-ingredients">
  <div class="modal-ingredients">
    <button type="button" class="modal-ingredients__close-btn">
      <svg class="modal-ingredients__icon">
        <use href="./images/sprite.svg#icon-modal-close"></use>
      </svg>
    </button>
    <div class="ingredients">
      <p class="ingredients__title">Chololate icecream</p>
      <div class="ingredients-img">
        <img
          src="./images/modal/igredients/ing1.png"
          alt="icecream"
          class="ingredients-img__icon"
        />
      </div>
      <ul class="ingredients-box">
        <li class="ingredients-box__item">
          <div class="ingredients-box__number">320</div>
          <div class="ingredients-box__text">kcal</div>
        </li>
        <li class="ingredients-box__item">
          <div class="ingredients-box__number">4g</div>
          <div class="ingredients-box__text">Protein</div>
        </li>
        <li class="ingredients-box__item">
          <div class="ingredients-box__number">8,2g</div>
          <div class="ingredients-box__text">Fats</div>
        </li>
        <li class="ingredients-box__item">
          <div class="ingredients-box__number">40,4g</div>
          <div class="ingredients-box__text">Carbs</div>
        </li>
      </ul>
      <ul class="ingredients__list">
        <li class="ingredients__item">
          <p class="ingredients__text">Milk</p>
          <p class="ingredients__text">100ml</p>
        </li>
        <li class="ingredients__item">
          <p class="ingredients__text">Belgian chocolate</p>
          <p class="ingredients__text">20g</p>
        </li>
        <li class="ingredients__item">
          <p class="ingredients__text">Cream</p>
          <p class="ingredients__text">150 ml</p>
        </li>
        <li class="ingredients__item">
          <p class="ingredients__text">Cocoa powder</p>
          <p class="ingredients__text">30g</p>
        </li>
        <li class="ingredients__item">
          <p class="ingredients__text">Sugar</p>
          <p class="ingredients__text">40g</p>
        </li>
        <li class="ingredients__item">
          <p class="ingredients__text">Vanilla sugar</p>
          <p class="ingredients__text">10g</p>
        </li>
      </ul>
    </div>
    <form class="ingredients-form">
      <label class="ingredients-form__field">
        <span class="ingredients-form__name">Name</span>
        <span class="ingredients-form__input-wrapper">
          <input
            type="text"
            class="modal-form-input"
            required
            pattern="[a-zA-Zа]+"
            name="user_name"
            minlength="2"
          />
        </span>
      </label>
      <label class="ingredients-form__field">
        <span class="ingredients-form__name">Phone</span>
        <span class="ingredients-form__input-wrapper">
          <input
            type="tel"
            class="modal-form-input"
            required
            pattern="[0-9]{3}-[0-9]{3}-[0-9]{2}-[0-9]{2}"
            title="xxx-xxx-xx-xx"
            name="user_phone"
          />
        </span>
      </label>
      <label class="ingredients-form__field">
        <span class="ingredients-form__name">Коментар</span>
        <textarea
          class="ingredients-form__message"
          name="user_message"
        ></textarea>
      </label>
      <button type="submit" class="ingredients-btn-submit">Submit</button>
    </form>
  </div>
</div>
