.modal-buy__scroll{
    overflow-y: scroll;
}
.modal-buy {
    position: absolute;
    top: 80%;
    left: 50%;
    padding: 28px;
    transform: translate(-50%, -50%) scale(1);
    width: 280px;
    background-color: var(--secondary-bcg-color);
    border-radius: 10px;
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
    border: 2px solid var(--accent-color);
    padding: 8px 8px 28px;
    z-index: 100;
}

.modal-buy-mob-close-btn{
    position: absolute;
    top: 8px;
    right: 8px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 16px;
    height: 16px;
    padding: 0px;
    background-color: transparent;
    border: none;
    transition: border-color var(--transition-duration-time-func), fill var(--transition-duration-time-func);

}
.modal-buy-close-mob-icon{
    fill: var(--icon-modal-close);
    width: 16px;
    height: 16px;
    .modal-buy-close-btn:hover &,
    .modal-buy-close-btn:focus & {
        fill: var(--accent-color);
        transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
    }
}
.modal-buy-close-btn{display: none;}
.modal-buy-close-icon{display: none;}
@media screen and (min-width: 768px){
    .modal-buy-mob-close-btn{display: none;}
    .modal-buy-close-mob-icon{display: none;}
    .modal-buy-close-btn {
        position: absolute;
        top: 20px;
        right: 20px;
        width: 20px;
        height: 20px;
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 0px;
        background-color: transparent;
        border: none;
        transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1), fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
    
    }
    
    .modal-buy-close-icon {
        display: block;
            width: 20px;
            height: 20px;
        fill: var(--icon-modal-close);
        transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
        .modal-buy-close-btn:hover &,
        .modal-buy-close-btn:focus & {
            fill: var(--accent-color);
        }
    }
}



.modal-buy-form {
    display: flex;
    flex-direction: column;
}

.buy-now-title {
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--secondary-text-color);
    width: 221px;
    height: 24.5px;
    left: 30px;
    top: 28px;
    font-family: var(--secondary-font-family);
    font-weight: 400;
    font-size: 16px;
    line-height:calc(24 / 16);
    margin-top: 28px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 84px;
}
.buy-now__card-box{
    margin-bottom: 24px;
    display: flex;
    flex-direction: column;
    row-gap:90px ;
    align-items: center;

}
.buy-now__card-input{
    z-index: 2;
    position: absolute;
    bottom: 0;
    left: 0;
    width:132px ;
    height: 206px;
    opacity: 0;
    cursor: url(../images/pointer.png),auto;
    &:checked  ~ .buy-now__box-first{
        background-color: #AEC6A5;
    
    }
    &:checked  ~ .buy-now__box-second{
        background-color: #EDD276;
    
    }
    &:checked  ~ .buy-now__box-third{
        background-color: #D6936D;
    
    }
}
.buy-now__card-wrapper{
    position: relative;
    width: 132px;
    height: 136px;
    border: none;
    border-radius: 16px;
}

.buy-now__box-title {
    display: flex;
    flex-direction: column;
    align-items: center;
    width:132px;
    height: 136px;
    border-radius: 16px;
    position: absolute;
    top: -1px;
    left: -1px;
}

.buy-now__box-title:before{
    border-radius: 50%;
    content:"";
    position: absolute;
    top: 60%;
    left: -1px;
    width: 132px;
    height: 140px;
    background-repeat: no-repeat;
}
.buy-now__box-first{
    border: 2px solid #AEC6A5;
}
.buy-now__box-first:before{
    position: absolute;
    top: -50%;
    left: -1px;
  background-image: url(../images/modal/buy/buy1.png), linear-gradient(0deg, rgba(156, 190, 143, 0.7), rgba(156, 190, 143, 0.7));
  box-shadow: 0px 8px 30px rgba(10, 136, 23, 0.25);}
.buy-now__box-second{
    border: 2px solid #EDD276;
}
.buy-now__box-second::before{
    position: absolute;
    top: -50%;
    left: -1px;
  background-image: url(../images/modal/buy/buy2.png), linear-gradient(0deg, rgba(248, 210, 78, 0.7), rgba(248, 210, 78, 0.7));
box-shadow: 0px 5.40397px 20.2649px rgba(153, 114, 23, 0.25);}
.buy-now__box-third{
    border: 2px solid #D6936D;
}
.buy-now__box-third::before{  
    position: absolute ;
    top: -50%;
    left: -1px;
  background-image: url(../images/modal/buy/buy3.png), linear-gradient(0deg, rgba(213, 117, 63, 0.7), rgba(213, 117, 63, 0.7));
box-shadow: 0px 5.41333px 20.3px rgba(0, 0, 0, 0.25);}
.buy-now-card-title{
margin-top: 95px;
z-index: 3;
        text-align: center;
    text-transform: uppercase;
    color: var(--secondary-text-color);
    font-size: 16px;
    font-weight: 700;
    line-height: calc(20 / 16);


}

.modal-buy-form-field:not(:last-of-type) {
    margin-bottom: 10px;
}

.modal-buy-form-input-wrapper {
    display: block;
    position: relative;
}

.modal-buy-form-input {
    display: block;
    width: 100%;
    height: 32px;
    padding-left: 12px;
    padding-right: 12px;
    font-weight: 400;
    font-size: 12px;
    line-height:calc(16.8 / 12);
    color: var(--secondary-text-color);
    background-color: var(--input-bcg-color);
    border: 1px solid var(--primary-bcg-color);
    border-radius: 10px;
    transition: border-color var(--transition-duration-time-func);
    &:focus {
        outline: none;
        border-color: var(--accent-color);
      }
      &:not(:focus):not(:placeholder-shown):valid {
        background-color: rgba(72, 146, 67, 0.361);
      }
      &:not(:focus):not(:placeholder-shown):invalid {
        background-color: rgba(202, 87, 106, 0.361);
      }
}

.modal-buy-form-message {
    display: block;
    width: 100%;
    height: 65px;
    padding-top: 8px;
    padding-bottom:7px;
    padding-right: 12px;
    padding-left: 12px;
    color: var(--secondary-text-color);
    background-color: var(--input-bcg-color);
    border: 1px solid var(--primary-bcg-color);
    border-radius: 10px;
    resize: none;
    font-size: 12px;
    line-height:calc(16.8 / 12);
    transition: border-color var(--transition-duration-time-func);
    margin-bottom:25px ;

    &:focus {
        outline: none;
        border-color: var(--accent-color);
    }
}

.modal-buy-form-button {
    align-self: center;
    min-width: 114px;
    min-height: 42px;
    padding-top: 10px;
    padding-right: 52px;
    padding-bottom: 10px;
    padding-left: 52px;
    background-color: var(--accent-color);
    font-weight: 600;
    font-size: 12px;
    line-height:calc(15 / 12);
    color: var(--secondary-text-color);
    border-radius: 10px;
    box-shadow: 0px 4px 4px rgb(0 0 0 / 15%);
    border: 1px solid var(--accent-color);
    transition: background-color var(--transition-duration-time-func), color var(--transition-duration-time-func);

    &:hover,
    &:focus {
        background-color: #0A8817;
    }

    &:focus {
        color: var(--primary-text-color);
    }
}

@media screen and (min-width: 768px) {
    .modal-buy {
        min-width: 568px;
        top: 50%;
        padding-bottom: 32px;
    }



    .buy-now-title {
        margin-top: 32px;
        margin-left:auto;
        margin-right: auto;
        margin-bottom: 103px;
        font-size: 20px;
        line-height: calc(28 / 20);
    }
    .buy-now__card-box{
        margin-bottom: 40px;
        display: flex;
        flex-direction:row;
        row-gap:0 ;
        column-gap: 32px;
        justify-content: center;
    
    }
    .modal-buy-form-input {
        width: 368px;
        height: 42px;
    }

    .modal-buy-form-message {
        width: 368px;
        height: 84px;
    }

    .modal-buy-form-field:not(:last-of-type) {
        margin-bottom: 16px;
    }

    .buy-now-list-item:not(:last-child) {
        margin-bottom: 0px;
        margin-right: 32px;
    }

    .modal-buy-form-message {
        margin-bottom: 32px;
        margin-left: auto;
        margin-right: auto;
    }

    .modal-buy-form-input {
        margin-left: auto;
        margin-right: auto;
    }

}
