.read-modal {
  position: absolute;
  padding: 26px;
  transform: translate(-50%, -50%);
  top: 50%;
  left: 50%;
  max-width: 280px;
  background-color: var(--primary-text-color);

  border: 2px solid #f8d24e;
  border-radius: 10px;

  @media screen and (min-width: 768px) {
    padding: 30px 58px;

    max-width: 568px;
  }
}

.read-modal__btn {
  position: absolute;
  top: 8px;
  right: 8px;
  padding: 0;
  border: none;
  background-color: var(--primary-text-color);

  &:hover,
  &:focus {
    fill: var(--review-img-bcg-color);
  }

  @media screen and (min-width: 768px) {
    top: 20px;
    right: 20px;
  }
}

.read-modal__icon-close {
  width: 16px;
  height: 16px;

  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);

  @media screen and (min-width: 768px) {
    width: 20px;
    height: 20px;
  }
}

.read-modal__title {
  display: block;
  text-align: center;
  margin-bottom: 20px;

  font-family: var(--secondary-font-family);
  color: var(--secondary-text-color);
  font-size: 16px;
  line-height:calc(24 / 16);

  @media screen and (min-width: 768px) {
    margin-bottom: 32px;
    line-height:calc(28 / 20);
    font-size: 20px;
  }
}

.read-modal__video {
  margin-bottom: 20px;
  border-radius: 10px;

  width: 224px;
  height: 199px;

  border: none;

  @media screen and (min-width: 768px) {
    margin-bottom: 32px;

    width: 448px;
    height: 205px;
  }
}

.read-modal__text {
  color: var(--secondary-text-color);
  line-height: 1.4;

  @media screen and (min-width: 768px) {
    font-size: 16px;
  }
}
