.about {
  margin-top: 60px;
  margin-bottom: 32px;
}

.about__label {
  font-weight: 700;
  font-size: 18px;
  line-height: calc(22 / 18);
  text-align: center;
  text-transform: uppercase;
  color: var(--icon-mobile-close-color);
}

.about__title {
  font-family: var(--secondary-font-family);
  font-weight: 400;
  font-size: 30px;
  line-height: calc(38 / 30);
  text-align: center;
  letter-spacing: 0.04em;
  text-transform: uppercase;
  color: var(--icon-mobile-close-color);
}

.about-content__img--bgc {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: auto;
  margin-right: auto;
  position: relative;
  margin-bottom: 62px;
}

.about-content__img--bgc::before {
  content: '';
  display: block;
  width: 278px;
  height: 278px;
  border-radius: 50%;
  background: linear-gradient(
      0deg,
      rgba(248, 210, 78, 0.7),
      rgba(248, 210, 78, 0.7)
    ),
    #d9d9d9;
  box-shadow: 0px 4.48583px 16.8218px rgba(153, 114, 23, 0.25);
}

.about-content__img {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: auto;
  margin-right: auto;
  position: absolute;
  top: 22;
  left: 0;
}

.about-content__text--lead,
.about-content__text {
  margin-right: auto;
  margin-left: auto;
  padding-right: 35px;
  padding-left: 35px;
  gap: 4px;
  font-weight: 400;
  font-size: 12px;
  line-height: calc(19 / 12);
  text-align: center;

  color: var(--icon-mobile-close-color);
}

.about-content__text--lead {
  letter-spacing: 0.04em;
  line-height: calc(21 / 12);
}

.about-content__button {
  margin: 20 auto 42 auto;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  width: 164px;
  height: 42px;

  font-family: var(--primary-font-family);
  font-weight: 600;
  font-size: 14px;
  line-height: calc(18 / 14);

  background-color: var(--accent-color);
  border-radius: 10px;
  border: none;
}

.about-content__button--text {
  margin-right: 5px;
}

.about-content__button--icon {
  fill: #131313;
}

.advantages {
  margin-bottom: 60px;
}

.advantages-list__item:not(:last-child) {
  margin-bottom: 25px;
}

.advantages__title {
  font-family: var(--secondary-font-family);
  font-weight: 400;
  font-size: 30px;
  line-height: calc(38 / 30);
  text-align: center;
  letter-spacing: 0.04em;
  text-transform: uppercase;
  color: var(--icon-mobile-close-color);
}
.advantages-list-item__img--bg {
  content: '';
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 16px;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background-color: var(--accent-color);
}

.advantages-list__item--lead-text {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 700;
  font-size: 36px;
  line-height: calc(42 / 36);
  text-align: center;
  letter-spacing: 0.04em;
  text-transform: uppercase;

  color: var(--icon-mobile-close-color);
}

.advantages-list__item--text {
  font-weight: 700;
  font-size: 12px;
  line-height: calc(20 / 12);
  text-align: center;
  color: var(--icon-mobile-close-color);
}
