.footer {
  position: relative;
  background-color: var(--primary-bcg-color);

  &::before {
    content: '';
    position: absolute;
    width: 100%;
    bottom: 132px;
    border-bottom: 1px solid #e1e1e1;

    @media screen and (min-width: 768px) {
      bottom: 53px;
    }
    @media screen and (min-width: 1200px) {
      bottom: 45px;
    }
  }
}
.footer__container {
  max-width: 480px;
  padding-bottom: 62px;
  @media screen and (min-width: 768px) {
    max-width: 768px;
    padding: 0 32px 13px 32px;
  }
  @media screen and (min-width: 1200px) {
    max-width: 1200px;
    padding: 0 16px 11px 16px;
    position: relative;
  }
}

.footer__content {
  margin-bottom: 56px;
  @media screen and (min-width: 768px) {
    align-items: flex-end;
    display: flex;
    margin-bottom: 46px;
  }
  @media screen and (min-width: 1200px) {
    margin-bottom: 66px;
  }
}
.footer__title {
  max-width: 234px;
  margin-bottom: 42px;
  @media screen and (min-width: 768px) {
    min-width: 352px;
    margin-bottom: 0;
  }
  @media screen and (min-width: 1200px) {
    min-width: 504px;
  }
}
.footer__title-small {
  margin-bottom: 16px;
  font-weight: 700;
  font-size: 18px;
  line-height: calc(22 / 18);
  text-transform: uppercase;
  color: var(--primary-text-color);
  @media screen and (min-width: 768px) {
    margin-bottom: 9px;
    font-size: 26px;
    line-height: calc(32/ 26);
  }
  @media screen and (min-width: 1200px) {
    margin-bottom: 14px;
    font-weight: 400;
    font-size: 30px;
    line-height: calc(37 / 30);
  }
}
.footer__title-large {
  font-weight: 700;
  font-size: 34px;
  line-height: calc(41 / 34);
  text-transform: uppercase;
  color: var(--primary-text-color);
  @media screen and (min-width: 768px) {
    font-size: 48px;
    line-height: calc(59 /48);
    letter-spacing: 0.06em;
  }
  @media screen and (min-width: 1200px) {
    font-size: 58px;
    line-height:calc(71 / 58);
  }
}
.footer__social {
  margin-left: auto;
  @media screen and (min-width: 768px) {
    padding-bottom: 24px;
  }
  @media screen and (min-width: 1200px) {
    padding-bottom: 0;
  }
}

.footer__social-list {
  margin-bottom: 38px;
  display: flex;
  justify-content: right;
  gap: 28px;
  @media screen and (min-width: 768px) {
    gap: 30px;
    margin-bottom: 32px;
  }
  @media screen and (min-width: 1200px) {
    margin-bottom: 40px;
  }
}
.footer__social-link {
  width: 34px;
  height: 34px;
  border-radius: 50%;
  background-color: var(--accent-color);
  display: flex;
  justify-content: center;
  align-items: center;
  transition: fill  var(--transition-duration-time-func);

}
.footer__social-icon {
  fill: var(--primary-bcg-color);
  transition: fill  var(--transition-duration-time-func);

}

.footer__social-link:hover .footer__social-icon {
  fill: var(--primary-text-color);
}
.footer__social-link:focus .footer__social-icon {
  transform: scale(1.1);
  fill: var(--primary-text-color);
}
.footer__social-text,
.footer__tel {
  font-weight: 700;
  font-size: 12px;
  line-height: calc(22.32 / 12);
  text-align: right;
  @media screen and (min-width: 768px) {
    font-size: 14px;
    line-height:calc(26.04 / 14);
  }
  @media screen and (min-width: 1200px) {
    font-size: 16px;
    line-height:calc(29.76 / 16);
    letter-spacing: 0.02em;
  }
}
.footer__social-text {
  color: var(--secondary-text-color);
}
.footer__tel {
  color: var(--primary-text-color);
}

.footer__copyright {
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.52 calc(21.28 / 14);
  letter-spacing: 0;
  color: var(--copyright-color);

  @media screen and (max-width: 767px) {
    width: 150px;
  }
  @media screen and (min-width: 768px) {
    line-height:calc(26.04 / 14);
    letter-spacing: 0.02em;
  }
  @media screen and (min-width: 1200px) {
    font-size: 12px;
    line-height: calc(22.32 / 12);
  }
}
