


// Gallery

.gallery{
 
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 36px;
    margin-bottom: 30px;
}

@media screen and (min-width: 768px){
  .gallery{
    margin-top: 40px;
  }
}

@media screen and (min-width: 1200px){
  .gallery{ 
    margin-top: 86px;}
}

.gallery-container{
  
  max-width: 100%;
  margin: 0 auto;
  display: flex;
  justify-content: center;
}

.gallery__images{

  height: 130px;
  width: 279px;
  border-radius: 24px;
  overflow: hidden;
}

@media screen and (min-width: 768px){
  .gallery__images{
    height: 327px;
    width: 704px;
  } 
}

@media screen and (min-width: 1200px){
  .gallery__images{ 
    width: 1013px;
    height: 422px;}
}






// Review

.customer{
padding-top: 80px;
padding-bottom: 100px;

// background-image: url(../images/desktop/gallery/bcg.png), linear-gradient(#FCFCFC, #FCFCFC);
background-repeat: no-repeat;
background-size: 100% auto, auto 1070px;
}

@media screen and (min-width: 768px){
  .customer{
    padding-top: 60px;
  }
}

@media screen and (min-width: 1200px){
  .customer{
    padding-top: 60px;
  }
}




.customer__bg {
    display: flex;
    justify-content: center;
    align-items: center;

    height: 256px;

    background: var(--primary-bcg-color);
    border-radius: 24px;
    padding: 34px 39px;
    width: 100%;
    margin-bottom: 32px;}

    @media screen and (min-width: 768px){
        .customer__bg{
            height: 138px;
            padding: 29px 80px;
        }
    }


.customer__pict,
.customer__pict > source,
.customer__pict > img{
display: block;
max-width: 85px;
max-height: 85px;
margin: 0 auto 32px auto;
border-radius: 50%;
}

.customer__text{
  padding-top: 80px;
  padding-bottom: 100px;
}

@media screen and (min-width: 768px){
  .customer__text{
    padding-top: 60px;
  }
}

@media screen and (min-width: 1200px){
  .customer__text{
    padding-top: 60px;
  }
}

  
.customer__review-text{
    
   font-family: var(--primary-font-family);
    font-weight: 500;
    text-align: center;
    font-size: 16px;
    line-height: 2.55;
    letter-spacing: 0.04em;
    color: var(--input-bcg-color);

}

 @media screen and (min-width: 480px) {
    .customer__review-text{
    white-space: normal;
    font-family: var(--primary-font-family);
    font-weight: 400;
    text-align: center;
    font-size: 12px;
    line-height: 2.55;
    letter-spacing: 0.04em;
    color: var(--input-bcg-color);

    }
 }

 @media screen and (min-width: 768px){
    .customer__review-text{
        font-weight: 500;
        font-size: 14px;
        line-height: 1.86;
    }
 }

 @media screen and (min-width: 1200px){
    .customer__review-text{
        white-space:pre-line;
        font-size: 16px;
    }
 }


.customer__name{
  font-family: var(--primary-font-family);
  font-weight: 500;
  font-size: 16px;
  line-height: 1.86;
  text-align: center;
  color: var(--secondary-text-color);
  margin-bottom: 32px;
}

@media screen and (min-width: 768px){
  .customer__name{
    font-size: 16px;
  margin-bottom: 32px;
  }
}




.slider {
position: relative;
text-align: center;
top: 10px;

margin: 0 auto;

overflow: hidden;
}

.slides article {
width: 20%;
float: left;
}

.slides .image {
width: 500%;
line-height: 0;
}

.overflow {
width: 100%;
overflow: hidden;
}

label,
a {
cursor: pointer;
}

.all input {
display: none;
}

#switch1:checked ~ .slides .image {
margin-left: 0;
}

#switch2:checked ~ .slides .image {
margin-left: -100%;
}

#switch3:checked ~ .slides .image {
margin-left: -200%;
}

#switch4:checked ~ .slides .image {
  margin-left: -300%;
}

.active label {
    margin-top: 16px;
    border-radius: 10px;
    display: inline-block;
    width: 12px;
    height: 12px;
    background: #d9d9d9;
  }

  .active label:not(:last-child) {
    margin-right: 18px;
  }
  
  .active label:hover {
    background: var(--primary-bcg-color);
  }
 
  #switch1:checked ~ .active label:nth-child(1)
  #switch2:checked ~ .active label:nth-child(2),
  #switch3:checked ~ .active label:nth-child(3)
  #switch4:checked ~ .active label:nth-child(4) {
    background: var(--primary-bcg-color);
    }
  
  .slides .image {
    transition: all 800ms cubic-bezier(0.7, 0, 0.175, 1);
  }
  
    
  

