.header {
    position: absolute;
    width: 100%;
    z-index: 10;
    &__container {
        display: flex;
        align-items: center;
        padding-top: 12px;

        @media screen and (min-width: 768px) {
            padding-top: 20px;
        }

        @media screen and (min-width: 1200px) {
            padding-top: 18px;
        }
    }
}

.logo {
    @media screen and (max-width:767px) {
        width: 40px;
    }

    @media screen and (min-width: 768px) {
        width: 48px;
    }

    @media screen and (min-width: 1200px) {
        width: 60px;
    }
}

.nav {
    display: flex;
    align-items: center;

    &__list {
        display: none;

        @media screen and (min-width: 1200px) {
            display: flex;
        }

        margin-left: 269px;
    }

    &__link {
        font-family: var(--primary-font-family);
        font-weight: 700;
        font-size: 16px;
        line-height: 1.25;
        color: var(--primary-text-color);

        &:hover,
        &:focus {
            color: var(--accent-color);
            transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
        }

    }

    &__item:not(:last-child) {
        margin-right: 27px;
    }

}


.header__btn {
    display: none;
    margin-left: auto;

    @media screen and (min-width: 768px) {
        display: flex;
        margin-left: 0;
    }

    @media screen and (min-width: 1200px) {
        margin-left: auto;
    }

    justify-content: center;
    align-items: center;
    font-weight: 600;
    font-size: 14px;
    line-height: 1.21;

    background-color: var(--accent-color);
    color: var(--secondary-text-color);
    padding: 12px 34px;
    min-width: 152px;
    border: none;
    border-radius: 6px;

}

.header__btn:hover,
.header__btn:focus {
    background-color: #0A8817;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.menu-btn--open {
    background-color: transparent;
    border: none;
    padding: 10px 15px;
    line-height: 0;
    margin-left: auto;

    @media screen and (min-width: 1200px) {
        display: none;
    }
}


.container-mob {
    padding-left: 22px;
    padding-right: 22px;
    margin-left: auto;
    margin-right: auto;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    overflow-y: scroll;


    @media screen and (min-width: 480px) {
        width: 480px;
    }
}

.menu-btn--close {
    position: absolute;
    top: 16px;
    right: 20px;
    margin-left: auto;
    padding: 10px 35px;
    border: none;
    background-color: transparent;

    @media screen and (min-width: 768px) {
        top: 32px;
        right: 32px;
    }

}

.menu-btn__icon {
    fill: var(--icon-mobile-close-color);
}

.mob-menu {
    background-color: var(--primary-bcg-color);
    position: fixed;
    z-index: 3;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    padding-top: 100px;
    padding-bottom: 63px;
    top: 0;
    left: 0;
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
    transform: translate(100%);
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    
    &.is-open {
        opacity: 1;
        visibility: visible;
        pointer-events: auto;
        transform: translate(0);
    }

    &__list {
        display: flex;
        flex-direction: column;
        flex-wrap: nowrap;
        align-items: center;
        margin-bottom: auto;
    }

    &__item:not(:last-child) {
        margin-bottom: 32px;

        @media screen and (min-width: 768px) {
            margin-bottom: 40px;
        }
    }

    &__link {
        font-weight: 700;
        font-size: 32px;
        line-height: 1.21;
        color: var(--primary-text-color);

        @media screen and (min-width: 768px) {
            font-weight: 700;
            font-size: 48px;
            line-height: 1.23;
            color: var(--primary-text-color);
        }
    }

    &__link--current {
        color: var(--secondary-text-color);
    }

    &__logo {
        position: absolute;
        top: 12px;
        left: 31px;
        width: 40px;

        @media screen and (min-width: 768px) {
            top: 20px;
            left: 32px;
            width: 48px;
        }
    }
}

.mob-menu-btn {
    display: flex;
    justify-content: center;
}

// .is-hidden {
//     visibility: hidden;
//     opacity: 0;
//     pointer-events: none;
//     transform: translateX(100%);
// }

.main-button--none {
    @media screen and (min-width: 768px) {
        display: none;
    }
}

.icon-btn-after {
    stroke: currentColor;

    &:focus {
        stroke: currentColor;
    }
}

.icon-btn-after--marg {
    margin-left: 7px;
}

.main-button {
    justify-content: center;
    align-items: center;
    font-weight: 600;
    font-size: 14px;
    line-height: 1.21;

    background-color: var(--accent-color);
    color: var(--icon-modal-close);

    padding: 12px 34px;
    min-width: 152px;

    border: none;
    border-radius: 6px;
}

.main-button:hover,
.main-button:focus {
    background-color: #0A8817;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}