.hero {
  position: relative;
  padding-top: 110px;
  overflow: hidden;

  @media screen and (min-width: 768px) {
    padding-top: 104px;
  }

  @media screen and (min-width: 1200px) {
    padding-top: 118px;
  }
}

.hero__container {
  display: flex;
  flex-direction: column;
  position: relative;
}

.hero__content-box {
  display: flex;
  justify-content: space-between;
}

.hero__title {
  margin-bottom: 32px;
  width: 247px;

  font-family: var(--secondary-font-family);
  font-size: 26px;
  line-height: 1.27;
  text-transform: uppercase;

  & span {
    font-size: 34px;
  }

  @media screen and (min-width: 768px) {
    width: 181px;
    margin-bottom: 20px;

    font-size: 18px;

    & span {
      font-size: 24px;
    }
  }

  @media screen and (min-width: 1200px) {
    width: 367px;
    margin-bottom: 28px;

    font-size: 38px;

    & span {
      font-size: 38px;
    }
  }
}

.hero__link-box {
  display: flex;
  align-items: center;
}

.hero__link-products {
  cursor: url(../images/pointer.png),auto;
  display: flex;
  align-items: center;
  justify-content: center;

  margin-right: 8px;
  width: 62px;
  height: 24px;

  color: var(--secondary-text-color);
  font-weight: 600;
  font-size: 8px;
  line-height: 1.25;
  letter-spacing: 0;
  border: 2px solid var(--accent-color);
  border-radius: 8px;

  transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1),
    color 250ms cubic-bezier(0.4, 0, 0.2, 1);

  &:hover {
    border: 2px solid #0a8817;
  }

  &:focus {
    border: 2px solid #0a8817;
    color: var(--primary-text-color);
  }

  @media screen and (min-width: 1200px) {
    margin-right: 12px;
    width: 134px;
    height: 42px;

    font-size: 14px;
    line-height: 1.29;
  }
}

.hero__link-made {
  cursor: url(../images/pointer.png),auto;
  display: flex;
  align-items: center;
  justify-content: center;

  width: 83px;
  height: 24px;

  color: var(--accent-color);
  font-weight: 600;
  font-size: 8px;
  line-height: 1.25;
  text-decoration: underline;

  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);

  &:hover {
    color: #0a8817;
  }

  &:focus {
    color: var(--primary-text-color);
  }

  @media screen and (min-width: 1200px) {
    width: 154px;
    height: 40px;

    font-size: 14px;
    line-height: 1.22;
  }
}

.hero__info-box {
  @media screen and (max-width: 767px) {
    display: none;
  }
}

.hero__item {
  display: flex;
  flex-direction: column;
  align-items: flex-end;

  & + & {
    margin-top: 20px;
  }

  @media screen and (min-width: 1200px) {
    & + & {
      margin-top: 16px;
    }
  }
}

.hero__num {
  margin-bottom: 4px;
  font-weight: 900;
  font-size: 28px;
  line-height: 1.22;
  color: var(--secondary-text-color);

  @media screen and (min-width: 1200px) {
    font-size: 46px;
  }
}

.hero__type {
  font-size: 8px;
  letter-spacing: 0;

  @media screen and (min-width: 1200px) {
    font-size: 14px;
  }
}

.hero__text-box {
  position: absolute;

  width: 200px;
  bottom: 50px;
  left: 217px;

  letter-spacing: 0;

  @media screen and (max-width: 767px) {
    display: none;
  }

  @media screen and (min-width: 1200px) {
    bottom: 104px;
    left: 256px;
  }
}

.hero__text {
  font-size: 12px;
  line-height: 1.4;
  letter-spacing: 0;

  margin-bottom: 12px;

  @media screen and (min-width: 1200px) {
    margin-bottom: 24px;
    font-size: 14px;
  }
}

.hero__btn {
  padding: 0;
  background: 0 0;
  border: none;

  &:hover .hero__icon {
    scale: 1.2;
  }
}

.hero__icon {
  width: 40px;
  height: 15px;

  fill: var(--primary-text-color);

  transition: scale 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.hero__bubble {
  display: flex;
  justify-content: center;

  position: absolute;
  top: -300;
  right: -250;

  width: 150px;
  height: 150px;

  padding-top: 38px;

  background-image: url(../images/desktop/hero/bubble.png);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center center;

  text-align: center;
  color: var(--secondary-text-color);

  animation-delay: 2.5s;

  @media screen and (max-width: 1199px) {
    display: none;
  }
}

.hero__slogan {
  display: block;
  width: 120px;

  font-weight: 600;
  font-size: 18px;
}

.hero__img-box {
  width: 100%;

  @media screen and (max-width: 479px) {
    height: 82.5vw;
    flex-grow: 1;
  }

  @media screen and (min-width: 480px) {
    height: 400px;
  }

  @media screen and (min-width: 768px) {
    height: 193px;
  }

  @media screen and (min-width: 1200px) {
    height: 332px;
  }
}

.hero__img-dish {
  position: absolute;
  z-index: 1;
  bottom: 13px;
  left: 32px;

  @media screen and (max-width: 767px) {
    display: none;
  }

  @media screen and (min-width: 1200px) {
    bottom: 65px;
    left: 16px;

    animation: plate-rotate 15s linear infinite;
    animation-delay: 2s;
  }

  @keyframes plate-rotate {
    100% {
      transform: rotate(360deg);
    }
  }
}

.hero__img-bcg {
  max-width: 100%;
  height: auto;

  position: absolute;
  pointer-events: none;
  bottom: 0;
  left: 0;

  @media screen and (max-width: 767px) {
    width: 480px;
  }
}

.hero__img-ic {
  position: absolute;
  pointer-events: none;
  max-width: 100%;
  height: auto;

  @media screen and (max-width: 479px) {
    width: 100vw;
    bottom: -19.2vw;
  }

  @media screen and (min-width: 480px) and (max-width: 767px) {
    width: 480px;
  }

  @media screen and (min-width: 480px) {
    bottom: -92px;
    left: 20px;
  }

  @media screen and (min-width: 768px) {
    bottom: -56px;
    left: 360px;
  }

  @media screen and (min-width: 1200px) {
    bottom: -100px;
    left: 550px;
  }
}

.hero__hidden-text-box {
  position: absolute;

  background-color: var(--primary-bcg-color);
  width: 200px;
  bottom: -25px;

  letter-spacing: 0;

  opacity: 1;

  @media screen and (max-width: 767px) {
    display: none;
  }

  @media screen and (min-width: 1200px) {
    bottom: -35px;
  }
}

.hero__is-hidden {
  opacity: 0;
  pointer-events: none;
}

.hero__hidden-text {
  font-size: 12px;
  line-height: 1.4;
  letter-spacing: 0;

  @media screen and (min-width: 1200px) {
    font-size: 14px;
  }
}

.hero__hidden-btn {
  margin-bottom: 12px;
  padding: 0;
  background: 0 0;
  border: none;
  transform: rotate(180deg);

  &:hover .hero__hidden-icon {
    scale: 1.2;
  }

  @media screen and (min-width: 1200px) {
    margin-bottom: 18px;
  }
}

.hero__hidden-icon {
  width: 40px;
  height: 15px;

  fill: var(--primary-text-color);

  transition: scale 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.truck {
  position: absolute;
  z-index: 2;
  width: 120px;
  height: 100px;
  bottom: -8px;
  right: -400px;

  background-image: url(../images/desktop/hero/car/truck.png);
  background-repeat: no-repeat;
  background-size: contain;

  animation: moving 1.5s linear, moving-2 1s linear 3s;
  animation-fill-mode: forwards;

  @media screen and (max-width: 1199px) {
    display: none;
  }

  @keyframes moving {
    0% {
      transform: translateX(0);
      opacity: 0;
    }

    30% {
      opacity: 0.5;
    }

    100% {
      transform: translateX(-1100%);
      opacity: 1;
    }
  }

  @keyframes moving-2 {
    0% {
      transform: translateX(-1100%);
      opacity: 1;
    }

    100% {
      transform: translateX(-1600%);
      opacity: 0;
    }
  }
}
